<div class="board">
    <!-- Add click event binding for this button... -->
    <button style="margin: 20px 0" (click)="handleClickNewTask()">
        New Task
    </button>

    <app-taskform [style.display]="cssShowHideTaskForm ? '' : 'none'"></app-taskform>

    <div class="lists">
        <!-- Markup for task lists here... -->
        <div *ngFor="let statusType of statusTypes">
            <app-tasklist [taskStatus]="statusType" 
                            [taskList]="filterTaskList(statusType, taskList)">
            </app-tasklist>
        </div>     
    </div>
</div>
